body {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Helvetica Neue", "Arial", sans-serif;

}

h1 {
    font-size: 50px;
    padding: 10px 20px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    width: 7em;
    color: rgba(237,24,30,0.2);
}

.container {
    /*display: flex;*/
    /*align-items: center;*/
    width: 300px;
}
#inputField {
    box-shadow: -1px -2px 17px rgba(0, 0, 0, 0.2), 2px 2px 20px rgba(0, 0, 0, 0), 4px 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #eee;
    padding: 10px 20px;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-size: 16px;
    width: 245px;
    margin: 0 auto;
    /*flex-grow:2;*/
}
#addTodo {
    /*display: flex;*/
    display: none;
    align-items: center;
    height: 40px;
    width: 40px;
    border: 2px solid #eeeeee;
    /*vertical-align: middle;*/
    /*font-size: 20px;*/
    box-shadow: -1px -2px 17px rgba(0, 0, 0, 0.2), 2px 2px 20px rgba(0, 0, 0, 0), 4px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}
#inputField #addTodo {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.to-do {
    margin-top: 200px;
    border-radius: 0px;
    border: 2px solid #eeeeee;
    box-shadow: -1px -2px 17px rgba(0, 0, 0, 0.2), 2px 2px 20px rgba(0, 0, 0, 0), 4px 4px 8px rgba(0, 0, 0, 0.2);
    text-indent: 20px;
    padding: 20px 30px 20px 5px;
    margin: 4px auto;
    width: 250px;

}

.styling {
    margin: 0;
    cursor: pointer;
    font-size: 20px;
    color: slategray;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-weight: bold;
    line-height: 180%;
    text-indent: 20px;

}
 #toDoContainer.to-do  {
     margin: 0;
     cursor: pointer;
     font-size: 20px;
     color: slategray;
     font-family: "Helvetica Neue", "Arial", sans-serif;
     font-weight: bold;
     line-height: 180%;
     text-indent: 20px;

 }

.del-all-tasks-button button {
    background-color: lightgrey;
    color: black;
    cursor: pointer;
    font-family: OriginalFont;
    height: 30px;
    border-radius: 0px;
    margin: 10px;
}

.del-all-tasks-button button:hover {
    background-color: rgba(237,25,31,0.5);

}

.del-all-tasks-button button.hide {
    display: none;
}
